<div class="page">
  <div class="login-container">

    <div class="left-panel">
      <div class="image-section">
        <img src="/loginpic2.jpg" alt="doctor" />
      </div>
      <div class="welcome-section">
        <h1>Vanguard Hospital Management System</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur, aut.</p>
      </div>
    </div>

    <div class="right-panel">
      <div class="form-box">
        <h2>Sign Up</h2>
        <p class="subtitle">Create your admin account</p>

        <form [formGroup]="signupForm" (ngSubmit)="onSignup()">

          <div class="input-group">
            <label>Full Name</label>
            <input type="text" placeholder="Enter your name" formControlName="fullName" />
            <span class="error" *ngIf="signupForm.get('fullName')?.invalid && signupForm.get('fullName')?.touched">
              Name is required
            </span>
          </div>

          <div class="input-group">
            <label>Email</label>
            <input type="email" placeholder="Enter email" formControlName="email" />
            <span class="error" *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
              Enter a valid email
            </span>
          </div>

          <div class="input-group">
            <label>Phone</label>
            <input type="tel" placeholder="Enter phone number" formControlName="phone" />
            <span class="error" *ngIf="signupForm.get('phone')?.invalid && signupForm.get('phone')?.touched">
              Min 10 digits
            </span>
          </div>

          <div class="input-group">
            <label>Password</label>
            <input type="password" placeholder="Create password" formControlName="password" />
            <span class="error" *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
              Min 6 characters
            </span>
          </div>

          <div class="input-group">
            <label>Confirm Password</label>
            <input type="password" placeholder="Confirm password" formControlName="confirmPassword" />
            <span class="error" *ngIf="passwordsDoNotMatch()">
              Passwords do not match
            </span>
          </div>

          <p class="api-error" *ngIf="errorMsg">{{ errorMsg }}</p>

          <button type="submit" [disabled]="passwordsDoNotMatch()">Create Account</button>

        </form>

        <div class="signup-text">
          Already have an account?
          <a routerLink="/login">Login</a>
        </div>
      </div>
    </div>

  </div>
</div>